.im-fell-dw-pica-regular {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .im-fell-dw-pica-regular-italic {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: italic;
  }
  

body {
    font-family: "IM Fell DW Pica", serif;
    margin: auto;
}